@import "../../../scss/colors.scss";

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  margin-top: 1%;
  padding: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#add-user-button {
  background-color: $green;
  width: 25%;
  margin-left: 70%;
}

.text-field {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
