@font-face {
  font-family: "Sofia Black";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Black\ Az.otf");
}

@font-face {
  font-family: "Sofia Black Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Black\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia Bold";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Bold\ Az.otf");
}

@font-face {
  font-family: "Sofia Bold Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Bold\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia ExtraLight";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ ExtraLight\ Az.otf");
}

@font-face {
  font-family: "Sofia ExtraLight Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ ExtraLight\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia Light";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Light\ Az.otf");
}

@font-face {
  font-family: "Sofia Light Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Light\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia Medium";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Medium\ Az.otf");
}

@font-face {
  font-family: "Sofia Medium Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Medium\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia Regular";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Regular\ Az.otf");
}

@font-face {
  font-family: "Sofia Regular";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Regular\ Az.otf");
}

@font-face {
  font-family: "Sofia Regular Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Regular\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia Semi Bold";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
}

@font-face {
  font-family: "Sofia Semi Bold Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ Semi\ Bold\ Italic\ Az.otf");
}

@font-face {
  font-family: "Sofia UltraLight";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ UltraLight\ Az.otf");
}

@font-face {
  font-family: "Sofia UltraLight Italic";
  src: url("../assets/fonts/sofia-pro-cufonfonts/Sofia\ Pro\ UltraLight\ Italic\ Az.otf");
}
